
@{
    Layout = null; ViewBag.Title = "拒绝chrome浏览器访问";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Refuse</title>
</head>
<body>
    <div>
        <h2>拒绝chrome浏览器访问</h2>
    </div>
</body>
</html>
